mat-toolbar {
  background: black;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    &.active-link {
      color: white;
    }
    span {
      color: white;
      margin-left: 24px;
    }
  }
  .header_menu_logo{
    object-fit: contain;
    width: 150px;
    
    margin: 12px 20px 0px 2px;
}
}


.login{
  color: white;
  border: 2px solid #FFFFFF;
opacity: 1

}

.signup {
  color: white;
  border: 2px solid #FF7900;
opacity: 1;
  
background: #FF7900 0% 0% no-repeat padding-box;
opacity: 1
}


