<div class="apprenant">
    


    <table align="center" border="0">

        <tr>
            <td rowspan="2"><img src="/assets/img/3333.png" alt="Med Arbi"></td>
            <td><h1 class="name">Mohamed Arbi Ghaouar</h1></td>
        </tr>
        <tr>
            <td><h2 class="job">Dévlopeur web</h2></td>
        </tr>



    </table>


</div>


<div class="container">
    <mat-tab-group>
        <mat-tab label="Mes Cours"><app-cours-apprenant></app-cours-apprenant></mat-tab>
        <mat-tab label="Panier"> </mat-tab>
        <mat-tab label="Notification"> <app-notif-apprenant></app-notif-apprenant> </mat-tab>
      </mat-tab-group>
    </div>

 