.apprenant{
    background-color: black;

}


img {
    top: 182px;
    left: 310px;
    width: 166px;
    height: 166px;
    opacity: 1;
    clip-path:ellipse(50% 50%);
     }



.name {
    color: #ff7500;
}

.job {
    color: white;
}
