
<div>
  <span>
    <a><h1>Classes</h1></a>
    <a><button mat-flat-button >Voir Plus</button></a>
  </span>

</div>

   


<mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Blender pour les débutants
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>

            </mat-card-content>
          
          </mat-card>

       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Formation Complète Python
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Introduction à la photographie d’intérieur
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>



</mat-grid-list>




<div><h1>Classes</h1>
    <button mat-flat-button >Voir Plus</button>
</div>


  <mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Blender pour les débutants
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>

       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Formation Complète Python
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Introduction à la photographie d’intérieur
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>



    

   
  </mat-grid-list>




