
<div>
  <span>
    <a><h1>Recommandé</h1></a>
    <a><button routerLink="/formation" mat-flat-button >Voir Plus</button></a>
  </span>

</div>
 
   


<mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="example-card" routerLink="/login">

            <img mat-card-image src="assets/img/blender_render-1280x720@2x.png" alt="Photo of a Shiba Inu" routerLink="/login">
            <mat-card-content>
              <p routerLink="/login">
                Blender pour les débutants
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>

            </mat-card-content>
          
          </mat-card>

       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/Python.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Formation Complète Python
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/seo-javascript-the-good-the-bad-the-uncertainty-5e4a09b3cd5db@2x.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Introduction à la photographie d’intérieur
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

 

</mat-grid-list>




<div><h1>Populaire</h1>
    <button mat-flat-button routerLink="/formation" >Voir Plus</button>
</div>


  <mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="example-card" >

            <img mat-card-image src="assets/img/jeshoots-com-p8kaVRe4edM-unsplash@2x.png" alt="Photo of a Shiba Inu" routerLink="/login">
            <mat-card-content>
              <p routerLink="/login">
                Blender pour les débutants
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>

       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/qcm-html-css-min-800x445@2x.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                La Formation Complète Python
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/img/seo-javascript-the-good-the-bad-the-uncertainty-5e4a09b3cd5db@2x.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Introduction à la photographie d’intérieur
              </p>
              <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
            </mat-card-content>
          
          </mat-card>
    </mat-grid-tile>



    

   
  </mat-grid-list>




