<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/ss.png" alt="Random third slide">
      </div>
    </ng-template>
  
  </ngb-carousel>
  




<ngb-carousel >
    <ng-template ngbSlide>
      <div >
          
        <div class="container">
            <h3>Déveloper vos opportunités de carrière avec python</h3>
            <span>
              <a>
            <h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2>
          </a>
          </span>
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div >
        <div class="container">
            <h3>Déveloper vos opportunités de carrière avec python</h3>
            <span>
              <a>
            <h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2>
          </a>
          </span>
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <div class="container">
            <h3>Déveloper vos opportunités de carrière avec python</h3>
            <span>
              <a>
            <h2>Join this fun and collaborative live class on March 30th with artist Amber Vittoria.</h2>
          </a>
          </span>
          </div>
      </div>
    </ng-template>
  
  </ngb-carousel>