<div class="container1">

    <h1>Nos Formations</h1>

</div>


<div class="container"> 

    <mat-tab-group>
        <mat-tab label="Cours recommandé"><app-cours-apprenant></app-cours-apprenant><br>
            <app-cours-apprenant></app-cours-apprenant><br>
            <app-cours-apprenant></app-cours-apprenant><br>
            <app-cours-apprenant></app-cours-apprenant>
        </mat-tab>
        <mat-tab label="Nouvelles cours"></mat-tab>
        <mat-tab label="Session Live"></mat-tab>
        <mat-tab label="Nos Formateurs">
        </mat-tab>
      </mat-tab-group>
</div>