footer {
    background-color:  black;
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;




}


.page-footer {

border: 2px;
border-color: white;
}

a { color: white;}



